.app-card {
  padding: 15px;
  color: rgb(0, 17, 95);
}

.bg-blue {
  background-color: rgb(223, 234, 255);
}

.bg-white {
  background-color: white;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.button-flex-group {
  display: flex;
  justify-content: space-between;
}

.button-flex-item {
  margin: 0px;
}