.form-flex-container {
  display: flex;
}

.form-flex-item {
  flex: 1;
  margin: 10px;
}

.form-label {
  font-size: 14px;
}

.eviction-form {
  margin: 10px;
}

.number-message {
  font-size: 9pt;
}

.form-error {
  color: red;
  font-size: 9pt;
}

@media (max-width: 700px) {
  .form-flex-container {
    display: block;
  }
}

@media (max-width: 500px) {
  .form-flex-container {
    display: block;
  }
}