.completed-app-title {
  font-size: 30pt;
  margin: 8px;
  text-align: center;
}

.completed-app-subtitle {
  font-size: 20pt;
  margin-bottom: 15px;
}

.back-button {
  display: flex;
  text-align: center;
  justify-content: center;
}

.data-container {
  background-color: white;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
}

.data-flex-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.bg-gray {
  background-color: rgb(231, 231, 231);
}

.data-flex-item {
  font-size: 12pt;
}

.item-key {
  font-style: italic;
}

.item-value {
  font-weight: bold;
}

.data-evictions {
  padding: 5px;
}